<!DOCTYPE html>
<html>
    <head>       
         <link rel="stylesheet" href="/css/style.css">
         <link rel="icon" href="/images/picture.png">
    </head>
        <body>
            {{>header}}           
            <img class="portrait" src="/images/picture.png" alt="weather"> 
            <p>{{>footer}} </p>
                      

        </body>
    
</html>